<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>My Web App</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>


	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Top-Education</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="/students/">Estudiantes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/students/form/new">Añadir Estudiante</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/fileUpload">Cargar CSV</a>
				</li>

				<li class="nav-item">
					<a class="nav-link" href="/fileInformation">Información CSV</a>
				</li>


			</ul>
		</div>
	</nav>





	<div class="container-sm">


		<table class="table">
    		<thead class="thead-dark">
    			<tr>

					<th>Rut</th>
					<th>Nombres</th>
					<th>Apellidos</th>
					<th>Promedio</th>
					<th>Colegio</th>
					<th>Tipo de colegio</th>


    			</tr>
    		</thead>

    		<tbody>
    			<tr th:each="usuario:${students}">

    				<td th:text="${usuario.rut}"></td>
    				<td th:text="${usuario.name}"></td>
					<td th:text="${usuario.lastname}"></td>
					<td th:text="${usuario.exam_mean_mark}"></td>
					<td th:text="${usuario.school}"></td>
					<td th:text="${usuario.school_type}"></td>
					<td>
    					<a class="btn btn-primary" th:href="@{/payments/new/{id}(id=${usuario.id})}" role="button">Generar cuotas</a>
						<a class="btn btn-primary" th:href="@{/payments/pay/calc/{id}(id=${usuario.id})}" role="button">Pagar</a>
    					<a class="btn btn-danger" th:href = "@{/student/delete/{id}(id=${usuario.id})}" role="button">Eliminar</a>
    				</td>

    			</tr>
    		</tbody>
    	</table>
    </div>
</body>
</html>